@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    font-family: 'Lora', serif;
    background-color: rgb(245, 207, 255);
    margin: 0;
}

.header, 
.footer {
    background-color: rgb(144, 117, 146);
  
}

a {
    text-decoration: none;
    color: inherit;
}


