@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    font-family: 'Lora', serif;
    background-color: rgb(250, 228, 255);
    color: rgb(34, 18, 31);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
 padding: 0;
 margin: 0;
}

.header, 
.footer {
    background-color: rgb(144, 117, 146);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 14px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
}

.top, 
.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    padding-left: 5em;
    padding-right: 5em;
}

.bottom {
    padding-bottom: 3em;
    display: flex;
    gap: 60px;
}

.cont .subtext {
    margin-bottom: 1em;
}

.cont { 
    flex: 1;
}

.image {
    background-color: rgb(255, 0, 212);
    flex: 1;
    height: 300px;
    text-align: center;
}

button {
    border-radius: 25px;
    padding: 5px 20px ;
    background-color: rgb(59, 39, 54);
    color: rgb(255, 143, 221);
}

.bde {
    display: flex;
    flex-direction: column;
}

.one {

}

.two {
    background-color: rgb(245, 207, 255) ;
}

.titleone {
    font-size: 27px;
    font-weight: 600;
    display: flex; 
    justify-content: center;
    padding: 20px;
  }

.row {
    display: flex;
    gap: 3em;
    justify-content: center;
    margin: 0 3em 2em 3em;
}

.c {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img {
    border-radius: 5px;
    background-color: rgb(255, 0, 212);
    height: 100px;
    width: 100px;    
}

.three {

}